<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Kaephas Kain
    5-25-2019
    admin.html

    loads all members from the database, click a member to view details
    -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- my own -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Admin Page</title>
</head>
<body>
<nav class="nav">
    <a class="nav-link" href="./">FF Match</a>
    <a class="nav-link" href="admin">Admin</a>
</nav>
<div class="container">
    <h1>My Dating Site</h1>
    <br>
    <h3>Membership</h3>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">State</th>
            <th scope="col">Gender</th>
            <th scope="col">Seeking</th>
            <th scope="col">Premium</th>
            <th scope="col">Interests</th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @members }}" value="{{ @member }}">
            <tr class="clickable-row" data-href="member/{{ @member['member_id'] }}">
                <th scope="row">{{ @member['member_id'] }}</th>
                <td>{{ @member['name'] }}</td>
                <td>{{ @member['age'] }}</td>
                <td>{{ @member['phone'] }}</td>
                <td>{{ @member['email'] }}</td>
                <td>{{ @member['state'] }}</td>
                <td>
                    <check if="{{ !(@member['gender'] == 'NULL') }}">
                        {{ @member['gender'] }}
                    </check>
                </td>
                <td>{{ @member['seeking'] }}</td>
                <td><input disabled type="checkbox"
                    <check if="{{ @member['premium'] == 1}}">
                        checked
                    </check>
                    >
                </td>
                <td>{{ @member['interests'] }}</td>
                <td><a href="member/{{ @member['member_id'] }}">Edit</a></td>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- table link script -->
<script src="scripts/scripts.js"></script>
<!-- bootstrap scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>