<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Final Fantasy Dating</title>
</head>
<body>
    <nav class="nav">
        <a class="nav-link" href="#">FF Dating</a>
    </nav>

    <div class="container" id="splash">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1>Find your Final Fantasy Match</h1>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias animi asperiores, beatae, dicta dolores doloribus dolorum, fuga fugiat impedit inventore ipsa modi nam nesciunt optio quos repellat ullam.</p>
                <br>
                <h2>Here's some success stories:</h2>
                <hr>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit." -Shiva</p>
                </blockquote>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit." -Ifrit</p>
                </blockquote>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipisicing elit." -Sephiroth</p>
                </blockquote>
                <hr>
                <button class="btn btn-primary">Create a profile</button>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="images/CloudAerith.jpg" alt="cloud-aerith">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>