<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Kaephas Kain
    4-12-2019
    home.html

    landing page for dating site assignment
    -->
    <meta charset="UTF-8">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- my own -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Final Fantasy Dating</title>
</head>
<body>
    <!-- nav -->
    <nav class="nav">
        <a class="nav-link" href="#">FF Match</a>
    </nav>

    <!-- page contents -->
    <div class="container">
        <div class="row">
            <!-- left half -->
            <div class="col-md-6">
                <!-- introduction -->
                <h1 class="text-center">Final Fantasy Match</h1>
                <p class="">Welcome to the multiverse's greatest dating site for both 2d sprites
                    and 3d models. At <span class="bold">FF Match</span>, you are guaranteed to find a perfect Final Fantasy character
                to pair with your personality and satisfy all your gaming desires. Create a profile now, and see
                for yourself why everyone who has used this site is happier than ever before!</p><br>
                <h5 class="text-center">Read some of our amazing results:</h5>
                <!-- results quotes -->
                <hr>
                <blockquote class="blockquote">
                    <p class="mb-0">"I give most people the cold shoulder, but this site taught me that even I could be
                        warm!" -Shiva</p>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="mb-0">"Most people think I'm hot stuff--this site proves them all right." -Ifrit</p>
                </blockquote>
                <blockquote class="blockquote">
                    <p class="mb-0">"I found someone as evil as me to be the wind beneath my wing in only 3 days!"
                        -Sephiroth</p>
                </blockquote>
                <hr>
                <div class="text-center">
                    <form action="personal" method="get">
                        <button class="btn btn-primary text-center">Create a Profile!</button>
                    </form>
                </div>
            </div>
            <!-- right half: image, drops to bottom on smaller widths-->
            <div class="col-md-6">
                <img class="img-fluid" src="images/CloudAerith.jpg" alt="cloud-aerith">
            </div>
        </div>
    </div>

    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>