<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Kaephas Kain
    5-27-2019
    interests.html

    interests form for dating site assignment
    -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- my own -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Interests</title>
</head>
<body>
    <nav class="nav">
        <a class="nav-link" href="./">FF Match</a>
        <a class="nav-link" href="admin">Admin</a>
    </nav>

    <div class="container">
        <h1>Interests</h1>
        <hr>

        <form action="#" method="post" enctype="multipart/form-data">
            <fieldset>
                <label>In-door Interests</label>
                <check if="{{ @errors['indoor'] }}">
                    <span class="text-danger">{{ @errors['indoor'] }}</span>
                </check>
                <br>
                <div class="row" id="indoor">
                    <repeat group="{{ @inInterests }}" key="{{ @id }}" value="{{ @interest }}">
                        <div class="col-md-3 col-sm-6">
                            <input type="checkbox" name="indoor[]" id="{{ str_replace(' ', '', @interest) }}"
                                   value="{{ @id }}"
                            <check if="{{ !empty(@indoor) && in_array(@id, @indoor)
                                                            && in_array(@interest, @inInterests)}}">
                                checked
                            </check>
                            >
                            <label for="{{ str_replace(' ', '', @interest) }}" class="checkbox">{{ @interest }}</label>
                        </div>
                    </repeat>
                </div> <!-- end indoor row -->
            </fieldset>
            <br>
        <!-- Out-door Interests-->
            <fieldset>
                <label>Out-door Interests</label>
                <check if="{{ @errors['outdoor'] }}">
                    <span class="text-danger">{{ @errors['outdoor'] }}</span>
                </check>
                <br>
                <div class="row" id="outdoor">
                    <repeat group="{{ @outInterests }}" key= "{{ @id }}" value="{{ @outerest }}">
                        <div class="col-md-3 col-sm-6">
                            <input type="checkbox" name="outdoor[]" id="{{ str_replace(' ', '', @outerest) }}"
                                   value="{{ @id }}"
                            <check if="{{ !empty(@outdoor) && in_array(@id, @outdoor)
                                                            && in_array(@outerest, @outInterests)}}">
                                checked
                            </check>
                            >
                            <label for="{{ str_replace(' ', '', @outerest) }}" class="checkbox">{{ @outerest }}</label>
                        </div>
                    </repeat>
                </div> <!-- end outdoor row -->
            </fieldset>
            <br>
            <label for="image">Upload a profile image (optional):</label>
                <check if="{{ @errors['image'] }}">
                    <span class="text-danger">{{ @errors['image'] }}</span>
                </check>
                <br>
                <input type="file" name="image" id="image">
            <div class="text-right">
                <input type="submit" value="Next &gt;" class="btn btn-primary ml-auto" id="interestSubmit">
            </div>
        </form>
    </div>

<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>