<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            <label>First Name
                <input type="text">
            </label>
            <label>Last Name
                <input type="text">
            </label>
            <label>Age
                <input type="text">
            </label>
            <label>Gender
                <input type="radio">Male
                <input type="radio">Female
            </label>
            <label>Phone Number
                <input type="text">
            </label>
        </form>
    </div>
</body>
</html>