<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Kaephas Kain
    4-17-2019
    profile.html

    profile form for dating site assignment
    -->
    <meta charset="UTF-8">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- my own -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Profile</title>
</head>
<body>
    <nav class="nav">
        <a class="nav-link" href="./">FF Match</a>
    </nav>

    <div class="container">
        <h1>Profile</h1>
        <hr>

        <form action="#" method="post">
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <check if="{{ @errors['email'] }}">
                                <span class="text-danger">{{ @errors['email'] }}</span>
                            </check>
                            <input type="text" id="email" name="email" class="form-control" value="{{ @email }}">
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <check if="{{ @errors['state'] }}">
                                <span class="text-danger">{{ @errors['state'] }}</span>
                            </check>
                            <select id="state" name="state" class="form-control">

                                <repeat group="{{ @states }}" value="{{ @stateOption }}">
                                    <option
                                    <check if="{{ @state == strtoupper(@stateOption) }}">
                                        selected
                                    </check>
                                    <check  if="{{ empty(@POST.state) && @stateOption == 'Washington' }}">
                                        selected
                                    </check>
                                    >{{ strtoupper(@stateOption) }}</option>
                                </repeat>

                            </select>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <legend>Seeking</legend>
                                <check if="{{ @errors['seeking'] }}">
                                    <span class="text-danger">{{ @errors['seeking'] }}</span>
                                </check>
                                <label class="radio">
                                    <input name="seeking" type="radio" value="Male"
                                    <check if="{{ @seeking == 'Male' }}">checked</check>
                                    > Male
                                </label>
                                &nbsp;&nbsp;
                                <label class="radio">
                                    <input name="seeking" type="radio" value="Female"
                                    <check if="{{ @seeking == 'Female' }}">checked</check>
                                    > Female
                                </label>
                            </fieldset>
                        </div>
                </div>  <!-- end column 1 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bio">Biography</label>
                        <textarea id="bio" name="bio" cols="10" rows="6" class="form-control">{{ @bio }}</textarea>
                    </div>
                </div>  <!-- end column 2 -->
            </div> <!-- end row -->
            <div class="text-right">
                <input type="submit" value="Next &gt;" class="btn btn-primary ml-auto">
            </div>
        </form>
    </div>

    <!-- bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>