/*
 * Kaephas Kain
 * 4-12-2019
 * styles.css
 *
 * styles for home.html
 */

/* Nav styles */
nav {
    background: rebeccapurple;
}

nav a {
    color: white;
}

/* body styles */

/* rounded grey border, slight gap around contents*/
.container {
    margin-top: 25px;
    padding: 25px;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
}

blockquote {
    margin-left: 25px;
}

/* image styles - round edges, 15px from adjacent*/
img {
    border-radius: 5px !important;
    margin: 15px;
}