/*
 * Kaephas Kain
 * 4-12-2019
 * styles.css
 *
 * styles for home.html
 */

/* Nav styles */
nav {
    background: rebeccapurple;
}

nav a {
    color: white;
}

/* body styles */

/* rounded grey border, slight gap around contents*/
.container {
    padding: 25px;
    width: 90%;
    max-width: 90%;
    margin: auto;
    margin-top: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

blockquote {
    margin-left: 25px;
}

/* image styles - round edges, 15px from adjacent*/
img {
    border-radius: 5px !important;
    margin: 15px;
}

label {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#note {
    padding: 10px;
    background: lightgrey;
    margin-bottom: 25px;
}

#note p {
    margin: 0;
}

#privacy {
    text: blue;
}

.checkbox {
    font-weight: normal;
    padding-left: 5px;
    vertical-align: text-bottom;
    margin-bottom: 0;
}